extends layout
// tabs only
block content
    .container
        .jumbotron
            .container
                h1 Online Book store
                p Welcome to my Online Book Store		
    .sidebar
        .block-wrap.sidebar
            .block-header
                h2 Top Sellers
            .block
                .tab-wrap.module.type-link.grid.tab-6245.tab-active
                    .tab
                        a.link-item-text-only.link-item(href='/')
                            .link-text Book Placeholder
                        a.link-item-text-only.link-item(href='/')
                            .link-text Book Placeholder
                                    .block-wrap.sidebar
            .block-header
                h2 Top Genres
            .block
                .tab-wrap.module.type-link.grid.tab-6245.tab-active
                    .tab
                        a.link-item-text-only.link-item(href='/')
                            .link-text Book Placeholder
                        a.link-item-text-only.link-item(href='/')
                            .link-text Book Placeholder
            .block-header
                h2 Highest ratings
            .block
                .tab-wrap.module.type-link.grid.tab-6245.tab-active
                    .tab
                        a.link-item-text-only.link-item(href='/')
                            .link-text Book Placeholder
                        a.link-item-text-only.link-item(href='/')
                            .link-text Book Placeholder