doctype html
html
	head
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
		


	body
		h1  Login time has been exceeded
		br
		p please wait to be directed...
script(src='javascripts/forceLogout.js')
