

doctype html
html
  head
    title #{title}
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='stylesheets/bootstrap.css', rel='stylesheet')
    link(href='stylesheets/style.css', rel='stylesheet')
Body
    .container
      .jumbotron
        h1(align='center') Online Bookstore
    .container
      nav.navbar.navbar-inverse.navbar
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='/') Home
            li.active
              a(href='/browse') Browse

          .col-sm-3.col-md-3.pull-right
            form.navbar-form.navbar-right(role='search', method='GET', action='/search')
              .input-group
                input.form-control(type='text', name = 's', placeholder='Search')
                .input-group-btn
                  button.btn.btn-default(type='submit')
                    span.glyphicon.glyphicon-search

          ul.nav.navbar-nav.navbar-right
            li
              a(href='/signup') Sign Up
            li
              a(href='/login') Log-in
            li
              a(href='/MyAccount') 
                span.glyphicon.glyphicon-user
                |   My Account
            li
              a(href='/Cart')
                span.glyphicon.glyphicon-shopping-cart
                |   Cart
block content

script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
script(src='javascripts/bootstrap.js')
script(src='javascripts/login.js')
script(src='javascripts/addToCart.js')
script(src='javascripts/signup.js')
