doctype html
html
  head
    title #{title}
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='stylesheets/bootstrap.css', rel='stylesheet')
    link(href='stylesheets/style.css', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='../javascripts/login.js')

    script.
      $(document).ready(function(){
      var user = localStorage.getItem('user');
      $('h4').append(" "+localStorage.getItem('user')+'?');
      });
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Online Book Store
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a#home(href='/') Home
            li
              a#about(href='/about') About
            li
              a#contact(href='/contact') Contact
            li
              a#browse(href='/browse') Browse
            li
              a#signup(href='/signup') Sign Up
            li
              a#logInButton(href='/login') Login
            li
              a#right(href='#')
  block content
    .container
      h1.display-4.m-b-2 Logout
      h4.display-4.m-b-2 Do you wish to logout as 
      form#logout(name = 'logout' method = 'GET', action='/')
        button.btn.btn-primary.btn-large.max-width(type='submit') Click to Logout