extends layout

block content
  .container
	form(action='/login', method='post')
	label Username:
	input.form-control.login-input(name='username', type='text', required='', placeholder='')
	label Password:
	input.form-control.login-input(name='password', type='password', required='', placeholder='')
	button.btn.btn-primary.btn-large.max-width(type='submit') Login
